.bb_table {
    height: 50vh;
    width: 40vw;
    margin-left: 30vw;
    margin-top: 5vw;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 20px;
}

.bb_table_header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    padding-inline: 20px;

    &>p {
        font-weight: 500;
        font-size: 1.2rem;
    }
}

.bb_table_body {
    height: calc(100% - 60px);
}

.bb_table_item {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: #efefef;
    padding-inline: 20px;
    margin-bottom: 25px;

    &>p {
        font-weight: 500;
        font-size: 1.2rem;
        width: 180px;
    }

    &>input {
        padding-inline: 10px;
        height: 30px;
        outline: none;
    }

    &>button {
        padding: 6px 12px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
    }
}