.data6_container{ 
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    padding: 3rem;
}

.data6_top_bx{
    width: 85%;
    height: 40px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.data6_top_showhide_bx{
    position: relative;
}

.data6_top_showhide_bx>button{
    height: 40px;
    background-color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    outline: none;
}

.data6_top_showhide_bx_content{
    height: 150px;
    width: 200px;
    background-color: #fff;
    margin-bottom: 30px;
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    z-index: 100;
    overflow: auto;
}

.data6_top_showhide_bx_content>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.data6_content{
    width: 85%;
    height: 60vh;
    background-color: #fff;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    overflow: auto;
}

.data6_content_head{
    width: 2430px;
    height: 40px;
    display: flex;
}

.data6_content_head_same{
    width: 180px;
    height: 100%;
}

.data6_content_head_same>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.data6_content_head_diff{
    width: 50px;
    height: 100%;
}

.data6_content_head_diff>div{
    width: 100%;
    height: 100%;
    position: relative;
}

.data6_content_head_diff>div>div:nth-child(1){
    width: 1px;
    background-color: black;
    height: 100%;
    margin: auto;
}

.data6_content_head_diff>div>div:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: gray;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* //table body */
.data6_content_body{
    width: 2430px;
    height: 40px;
    display: flex;
    border-top: 1px solid black;
}

.data6_content_body_same{
    width: 180px;
    height: 100%;
}

.data6_content_body_same>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.data6_content_body_same>div>p{
    font-weight: 500;
}

.data6_content_body_diff{
    width: 50px;
    height: 100%;
}

.data6_content_body_diff>div{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #efefef;
}

.data6_content_body_diff>div>div:nth-child(1){
    width: 1px;
    background-color: black;
    height: 100%;
    margin: auto;
}

.data6_content_body_diff>div>div:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0, 0, 0);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.data6_pagination{
    width: 85%;
    margin: auto;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 5px;
    height: 60px;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data6_pagination>div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 10px;
}

select{
    outline: none;
    cursor: pointer;
}

.data6_pagination>div:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
}

.data6_pagination>div:nth-child(2)>button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    background-color: #fff;
}

.data6_csv{
    width: 85%;
    margin: auto;
    margin-top: 1rem;
}

.data6_csv>button{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border: 1px solid #efefef;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    margin-right: 10px;
}

.data6_top_searchbox{
    height: 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border-radius: 5px;
}

.data6_top_searchbox>input{
    border: none;
    border-radius: 5px;
    padding-inline: 10px;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.data6_top_searchbox>input:focus{
    outline: none;
}

.data6_top_selectdatebx{
    display: flex;
    align-items: center;
    gap: 30px;
}

.data6_top_selectdatebx>div{
    width: 150px;
    height: 30px;
    padding-inline: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.data6_top_selectdatebx>div>input{
    width: 100%;
    height: 100%;
    border:none;
    cursor: pointer;
    outline: none;
}

.data6_top_selectdatebx>button{
    width: auto;
    height: 30px;
    padding-inline: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.data6_top_selectdatebx>button:hover{
    background-color: #ffeaea;
    cursor: pointer;
}

.remove-filter-input{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border: 1px solid #efefef;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 8px; /* Adjust as needed */
    height: 10px;
    border-radius: 20px;
    cursor: pointer
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e20c0c36; /* Adjust background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Adjust handle color */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Adjust handle color on hover */
  }