@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root{
  --bg-color-1:#0d1d7e1a;
  --bg-color-2: #fb2b0f1a;
  --bg-color-3:#f472401a;
  --bg-color-4: #fdf5261a;
  --bg-color-5: #1bc39b1a;
  --bg-color-6: #16e6f31a;

  --bg-color-7: #565a75;
  --bg-color-8: rgba(99, 99, 99, 0.3);

  --text-color-1: rgb(13, 29, 126);
  --text-color-2: rgb(251, 43, 15);
  --text-color-3: rgb(244, 114, 64);
  --text-color-4: orangered;
  --text-color-5: rgb(27, 195, 155);
  --text-color-6:  rgb(22, 230, 243);

  --bg-primary-color: #565a75;

  --progress-bg-color-1: orangered;
  --progress-bg-color-2:orange;
  --progress-bg-color-3:#F6C324;
  --progress-bg-color-4:#097969;

  --border-color: #a8abc2;

  --mcm-taka-d-bg-color:#fb2b0f1a;
  --mcm-taka-bg-color: rgba(0, 128, 0, 0.372);
  --mcm-taka-bg-color2: rgba(0, 128, 0, 0.783);

  --mcm-taka-ratio-bg-color-1 : rgba(0, 128, 0, 0.783);
  --mcm-taka-ratio-bg-color-2 : #FFD700;
  --mcm-taka-ratio-bg-color-3 : #FEBE10;

  --checkbox-bg-color: #d90000;
}


.idColumn{
  background-color: red !important;
}

.diff_div{
  position: relative;
  width: 80px;
}

.diff_div>div:nth-child(1){
  width: 1px;
  height: 8rem;
  background-color: black;
  margin:auto;
}

.diff_div>div:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  z-index: 1000;
  background-color: #efefef;
  border: none;
  width: 43px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
} 


.diff_div_head{
  position: relative;
  width: 80px;
}

.diff_div_head>div:nth-child(1){
  width: 1px;
  height: 8rem;
  background-color: black;
  margin:auto;
}

.diff_div_head>div:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  z-index: 1000;
  background-color: #efefef;
  border: none;
  width: 23px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
} 

.container{
  width: 80%;
  margin: auto;
}



.diff_div_3{
  position: relative;
  width: 80px;
  border-bottom: 1px solid white;
}

.diff_div_3>div:nth-child(1){
  width: 1px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  margin:auto;
}

.diff_div_3>div:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  z-index: 1000;
  color: red;
  font-weight: 500;
  background-color: #efefef;
  border: none;
  width: 48px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
} 



.diff_div_head_3{
  position: relative;
  width: 80px;
  background-color: #1e293b;
  border-right: 1px solid white;
}

.diff_div_head_3{
  position: relative;
  width: 80px;
}

.diff_div_head_3>div:nth-child(1){
  width: 1px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  margin:auto;
}

.diff_div_head_3>div:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  z-index: 1000;
  color: red;
  background-color: #efefef;
  border: none;
  width: 23px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
} 


.th-col{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.th-col-2{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;

}



.he{
  margin-top: -80px;
  color: black;
  border: 1px solid red;
  width: 200px;
  height: 40px;
  padding-inline: 10px;
  margin-left: -20px;
}


